[View in Colaboratory](https://colab.research.google.com/github/MrDoga/Machine_Learning/blob/master/Assingment_16.ipynb)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report,confusion_matrix

data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/balance-scale/balance-scale.data")
data.head()

   B  1  1.1  1.2  1.3
0  R  1    1    1    2
1  R  1    1    1    3
2  R  1    1    1    4
3  R  1    1    1    5
4  R  1    1    2    1

In [5]:
data.shape

(624, 5)

In [11]:
for keys in data.keys():
  print (keys)

B
1
1.1
1.2
1.3

In [0]:
X = data.drop('B',axis=1)
y = data['B']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=.20)
classifier=DecisionTreeClassifier
classifier.fit(X_train,y_train)
y_pred = classifier.predict(X_test)
print (confusion_matrix(y_test,y_pred))
print (classification_report(y_test,y_pred))